@include box-sizing(border-box);

[class*='grid__'] { float: left; }

.grid { @include clear-fix }

@mixin grid-one-whole      { width: 100% }
@mixin grid-one-quarter    { width: 1 /  4 * 100%; }
@mixin grid-three-quarters { width: 3 /  4 * 100%; }
@mixin grid-one-seventh    { width: 1 /  7 * 100%; }
@mixin grid-five-sevenths  { width: 5 /  7 * 100%; }
@mixin grid-one-tenth      { width: 1 / 10 * 100%; }
@mixin grid-three-tenths   { width: 3 / 10 * 100%; }
