.search {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  color: $dove_gray;
  float: right;
  padding: 8px;

  i {
    font-size: small;
    padding: 0px 7px;
  }

  span {
    font-family: serif;
    font-style: italic;
    padding-left: 3px;
  }
}