@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 769px) {
  .show-tablet-plus {
    display: block; }

  .show-desktop-plus {
    display: block; }

  .show-desktop-plus-inline {
    display: inline; }

  .g-search {
    width: 30%; }

  .g-nav {
    width: 10%; }

  .g-deal {
    width: 71.42857%; }

  .g-deal-img {
    width: 14.28571%; }

  .g-deal-more {
    width: 14.28571%; } }
@media screen and (max-width: 768px) {
  .show-tablet-plus {
    display: block; }

  .show-desktop-plus {
    display: none; }

  .show-desktop-plus-inline {
    display: none; }

  .g-search {
    width: 30%; }

  .g-nav {
    width: 10%; }

  .g-deal {
    width: 75%; }

  .g-deal-img {
    width: 25%; } }
@media screen and (max-width: 480px) {
  .show-tablet-plus {
    display: none; }

  .show-desktop-plus {
    display: none; }

  .show-desktop-plus-inline {
    display: none; }

  .g-nav {
    width: 14.28571%; }

  .g-deal {
    width: 100%; } }
.grid:after {
  content: "";
  display: table;
  clear: both; }

[class*='g-'] {
  float: left; }

body {
  margin: 0;
  padding: 15px 20px;
  font-family: 'Lato', sans-serif;
  color: #242424; }

h1 {
  font-weight: 100;
  font-size: 2.5em; }

h3 {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin: 0;
  padding: 0; }

/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-search:before {
  content: "\f002"; }

.fa-play:before {
  content: "\f04b"; }

.fa-plus:before {
  content: "\f067"; }

.fa-minus:before {
  content: "\f068"; }

header img {
  width: 130px; }
header h1 {
  margin: 6px 0px 30px 0px; }
header nav > div {
  margin-bottom: 10px; }

.search {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 8px;
  color: #6C6C6C;
  float: right; }
  .search span {
    font-style: italic;
    font-family: serif;
    padding-left: 3px; }
  .search i {
    font-size: small;
    padding: 0px 7px; }

.menu__tabs li {
  text-align: center;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .menu__tabs li:first-child {
    margin-left: 0px; }
  .menu__tabs li:last-child {
    margin-right: 0px; }

.menu__tabs--selected {
  color: #242424;
  box-shadow: none;
  background: #FFFFFF; }

.menu__tabs--unselected {
  color: #6C6C6C;
  box-shadow: 2px 0px 1px #C8C8C8;
  background: -o-linear-gradient(top, white 50%, whitesmoke 100%);
  background: -ms-linear-gradient(top, white 50%, whitesmoke 100%);
  background: -moz-linear-gradient(top, white 50%, whitesmoke 100%);
  background: -webkit-linear-gradient(top, white 50%, whitesmoke 100%);
  background: linear-gradient(top, white 50%, whitesmoke 100%); }

.accordion__section > p {
  background-color: #242424;
  color: white;
  padding: 8px;
  margin-top: 1px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.5em; }
  .accordion__section > p i {
    font-size: 0.6em;
    vertical-align: text-top;
    margin-top: 8px;
    padding: 0 8px; }

.accordion__section--hide {
  display: none; }

.accordion__section--select > p {
  background-color: #DA291C; }

.deals li:nth-child(2n + 1) {
  background-color: #F8F8F8; }
.deals li > div {
  overflow: hidden;
  position: relative; }

.deal__title {
  padding: 15px; }
  .deal__title p {
    color: #6C6C6C;
    font-size: small;
    margin-top: 10px; }

@media screen and (min-width: 769px) {
  .deal_title--shift {
    margin-left: 100px; } }
@media screen and (max-width: 768px) {
  .deal_title--shift {
    margin-left: 100px; } }
@media screen and (max-width: 480px) {
  .deal_title--shift {
    margin-left: 0; } }
.deal__image {
  text-align: center;
  width: 100px;
  background-color: #FFFFFF;
  height: 100%;
  position: absolute; }
  .deal__image img {
    vertical-align: middle;
    max-height: 78px;
    max-width: 100px; }
  .deal__image .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.deal__more p {
  padding: 20px 0;
  float: right;
  font-size: small;
  color: #256E9E; }
