@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
@media screen and (min-width: 769px) {
  .show-desktop-plus {
    display: block; }

  .show-desktop-plus-inline {
    display: inline; }

  .show-tablet-plus {
    display: block; } }
@media screen and (max-width: 768px) {
  .show-desktop-plus {
    display: none; }

  .show-desktop-plus-inline {
    display: none; }

  .show-tablet-plus {
    display: block; } }
@media screen and (max-width: 480px) {
  .show-desktop-plus {
    display: none; }

  .show-desktop-plus-inline {
    display: none; }

  .show-tablet-plus {
    display: none; } }
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*='grid__'] {
  float: left; }

.grid:after {
  content: "";
  clear: both;
  display: table; }

body {
  color: #242424;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 15px 20px; }

h1 {
  font-size: 2.5em;
  font-weight: 100; }

h2,
h3 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-search:before {
  content: "\f002"; }

.fa-play:before {
  content: "\f04b"; }

.fa-plus:before {
  content: "\f067"; }

.fa-minus:before {
  content: "\f068"; }

header h1 {
  margin: 6px 0px 30px 0px; }
header img {
  width: 130px; }
header nav > div {
  margin-bottom: 10px; }

.search {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  color: #6c6c6c;
  float: right;
  padding: 8px; }
  .search i {
    font-size: small;
    padding: 0px 7px; }
  .search span {
    font-family: serif;
    font-style: italic;
    padding-left: 3px; }

.menu__tabs li {
  border-style: solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-width: 1px 1px 0 1px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center; }
  .menu__tabs li:first-child {
    margin-left: 0px; }
  .menu__tabs li:last-child {
    margin-right: 0px; }

.menu__tabs--selected {
  color: #242424;
  background: white;
  box-shadow: none; }

.menu__tabs--unselected {
  background: -o-linear-gradient(top, white 50%, whitesmoke 100%);
  background: -ms-linear-gradient(top, white 50%, whitesmoke 100%);
  background: -moz-linear-gradient(top, white 50%, whitesmoke 100%);
  background: -webkit-linear-gradient(top, white 50%, whitesmoke 100%);
  background: linear-gradient(top, white 50%, whitesmoke 100%);
  box-shadow: 2px 0px 1px #c8c8c8;
  color: #6c6c6c; }

@media screen and (min-width: 769px) {
  .grid__nav {
    width: 10%; }

  .grid__search {
    width: 30%; } }
@media screen and (max-width: 768px) {
  .grid__nav {
    width: 10%; }

  .grid__search {
    width: 30%; } }
@media screen and (max-width: 480px) {
  .grid__nav {
    width: 14.28571%; } }
.accordion__section > p {
  background-color: #242424;
  color: white;
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 1px;
  padding: 8px;
  text-transform: uppercase; }
  .accordion__section > p i {
    font-size: 0.6em;
    margin-top: 8px;
    padding: 0 8px;
    vertical-align: text-top; }

.accordion__section--hide {
  display: none; }

.accordion__section--select > p {
  background-color: #da291c; }

.deals li:nth-child(2n + 1) {
  background-color: #f8f8f8; }
.deals li > div {
  overflow: hidden;
  position: relative; }

.deal__image {
  background-color: white;
  text-align: center;
  width: 100px;
  height: 100%;
  position: absolute; }
  .deal__image img {
    max-height: 78px;
    max-width: 100px;
    vertical-align: middle; }
  .deal__image span {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.deal__more p {
  color: #256e9e;
  float: right;
  font-size: small;
  padding: 20px 0; }

.deal__title {
  padding: 15px; }
  .deal__title p {
    color: #6c6c6c;
    font-size: small;
    margin-top: 10px; }

@media screen and (min-width: 769px) {
  .deal__title--shift {
    margin-left: 100px; }

  .grid__deal__title {
    width: 71.42857%; }

  .grid__deal__more {
    width: 14.28571%; } }
@media screen and (max-width: 768px) {
  .deal__title--shift {
    margin-left: 100px; }

  .grid__deal__title {
    width: 75%; } }
@media screen and (max-width: 480px) {
  .deal__title--shift {
    margin-left: 0; }

  .grid__deal__title {
    width: 100%; } }
.nodeals {
  background-color: #f8f8f8;
  color: #6c6c6c;
  padding: 15px;
  text-align: center; }
  .nodeals h2 {
    text-transform: uppercase; }
