.menu__tabs {
  li {
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px 1px 0 1px;
    margin-left: 3px;
    margin-right: 3px;
    &:first-child { margin-left: 0px; }
    &:last-child  { margin-right: 0px; }
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
  }
}

.menu__tabs--selected {
  color: $mine_shaft;
  background: $white;
  box-shadow: none;
}

.menu__tabs--unselected {
  @include bg-gradient($white, $wild_sand);
  box-shadow: 2px 0px 1px $silver;
  color: $dove_gray;
}