.accordion__section > p {
  background-color: $mine_shaft;
  color: white;
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 1px;
  padding: 8px;
  text-transform: uppercase;

  i {
    font-size: 0.6em;
    margin-top: 8px;
    padding: 0 8px;
    vertical-align: text-top;
  }
}

.accordion__section--hide { display: none; }
.accordion__section--select > p { background-color: $alizarin_crimson; }